{% include 'script.html' %}
{% include 'link_css.html' %}
{% load bootstrap %}

<!DOCTYPE html>
<html>

<head>
    <head data-suburl="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="运维管理系统" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>运维管理系统</title>

    <link rel="shortcut icon" href="/static/img/facio.ico" type="image/x-icon">
</head>

<body class="gray-bg">

<!--<div class="lock-word animated fadeInDown">
    <span class="first-word">PASSW</span><span>ORD</span>
</div>-->
    <div class="middle-box text-center lockscreen animated fadeInDown">
        <div>


            <h3>{% if data.first_name %}{{ data.first_name }}{% else %}{{ data.username }}{% endif %}</h3>
            <p></p>

            <form class="m-t" role="form" method="post" action=""> {% csrf_token %}
                <div class="form-group">
                    <input type="password" class="form-control" id="id_newpassword" maxlength="128" name="newpassword" placeholder="新密码" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="id_renewpassword" maxlength="128" name="renewpassword" placeholder="确认密码" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width">提交</button>
                
                {% if uf.errors %}
                <div class="ibox-content">
                    <div class="alert alert-warning text-center">
                        {% for e in emg %}
                            {{ e }}
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                    <h5><span class="label label-danger">密码必须为英文数字组成</span></h5>
                {% endif %}

            </form>
        </div>
    </div>

</body>

</html>

