{% extends 'default/base.html' %}
{% load bootstrap %}
{% block content %}
<!-- 打字  现在是可以 添加域名和删除  但是添加成功的返回信息不友好，是一对 json   -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>添加域名 | Add Domain Name.</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-10">
            <div class="ibox float-e-margins">
                {% include "listOrAdd.html" %}
                <div class="ibox-title">
                    <h5> 填写信息 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user"></ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
<!--
                <div id="emg" class="alert alert-warning text-center" style="display:none"></div>
                <div id="smg" class="alert alert-success text-center" style="display:none"></div> -->
                <div class="ibox-content">
                <form class="form-horizontal" action="" id="host_add"  method="post" name="horizontal" role="form" autocomplete="off">
                {% csrf_token %}



                    {% if emg %}
                        <div class="alert alert-warning text-center">{{ emg }}</div>
                    {% endif %}
                    {% if smg %}
                        <div class="alert alert-success text-center">{{ smg }}</div>
                    {% endif %}

                    {{ df.name|bootstrap_horizontal }}
<!--  from evan -->
                    <div class="hr-line-dashed"></div>
                    {%comment%}
                    {{df.nameDistributor|bootstrap_horizontal }} <!-- nameDistributor 为models.py 的字段哦  -->
                    {%endcomment%}
                    <div class="hr-line-dashed"></div>
                    {{df.exptresDate|bootstrap_horizontal }}

                    <div class="hr-line-dashed"></div>
                    {{df.user|bootstrap_horizontal }}


                    <div class="hr-line-dashed"></div>
                    {{df.email|bootstrap_horizontal }}

                    <div class="hr-line-dashed"></div>
                    {{df.organization|bootstrap_horizontal }}

<!--  from evan -->

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-5">
                           <button class="btn btn-white" type="reset"> 重置 </button>
                          <!--  <input  type="button" id="bu" class="btn btn-primary" > 提交 -->
                          <button id="bu" class="btn btn-primary" type="submit"> 提交 </button>

                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock content %}

