{% include 'script.html' %}
{% include 'link_css.html' %}

<!DOCTYPE html>
<html>

<head>
    <head data-suburl="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="运维管理系统" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>运维管理系统</title>

    <link rel="shortcut icon" href="/static/img/facio.ico" type="image/x-icon">
</head>

<body class="gray-bg">

<div class="lock-word animated fadeInDown">
</div>
    <div class="middle-box text-center lockscreen animated fadeInDown">
        <div>
            {% if emg %}
                <div class="alert alert-warning text-center">{{ emg }}</div>
            {% endif %}
            <p>找回密码</p>
            <form class="m-t" role="form" method="post" action=""> {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" id="id_username" maxlength="32" name="username" placeholder="请填写用户名" required="">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="id_email" maxlength="32" name="email" placeholder="请填写邮箱地址" required="">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary block full-width">提交</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>